.header {
   margin: 0px;
   padding: 0px;
   display: flex;
   height: 50px;
   background-color: rgb(219, 219, 219);
}

.logo > img {
   width: 50px;
   height: 50px;
}

.navItems {
   display: flex;
   list-style: none;
   height: 50px;
}

.pageOption {
   margin-left: 10px;
   margin-right: 10px;
   width: 80px;
   padding: 10px 5px 10px 5px;
}

.pageOption:hover {
   width: 80px;
   height: 50px;

   background-color: rgba(143, 142, 142, 0.212);
   transition: 0.5s;
}

.pageOption_account {
   margin-left: 50px;
   margin-right: 10px;
   width: 250px;
   padding: 5px 5px 10px 5px;
}

.member_logout {
   display: none;
   position: absolute;
   list-style: none;
}

.member_login_div:hover .member_logout {
   display: block;
}

.member_logout > li > button {
   background-color: white;
}

.member_logout > li > button:hover {
   cursor: pointer;
   background-color: #ff6565dc;
   transition: 0.5s;
}

.pageOption_cart {
   margin-left: 10px;
   margin-right: 10px;
   padding: 5px 5px 10px 5px;
}

.pageOption_form {
   margin-left: 50px;
   margin-right: 10px;
   padding: 8px 5px 10px 5px;
}

.form {
   width: 300px;
}

.form > button {
   height: 31px;
}

.member {
   display: flex;
}
